<div class="row justify-content-center mb-2">
  <div class="col-10 text-center clearfix">

    <% unless disable_left_control %>
      <%= link_to user_weekly_meals_path(date: calendar_date.prev_month - 1.month), class: 'mr-4' do %>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <span><%= calendar_date.strftime('%B %Y') %></span>

    <% unless disable_right_control %>
      <%= link_to user_weekly_meals_path(date: calendar_date.next_month + 1.month), class: 'ml-4' do %>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      <% end %>
    <% end %>

  </div>
</div>

<%= calendar calendar_date do |date| %>
  <a
    href="<%= calendar_url(date, active_this_week, not_this_week) %>"
    class="<%= calendar_classes(date, active_this_week, not_this_week) %>">
    <%= date.strftime('%d') %>
  </a>
<% end %>