<%
  list_class = "list-group-item rounded-0 "

  if current_user.subscribed?
    limit = current_user.plan.limit
    is_complete = order[:total] >= limit
    list_class += "list-group-item-warning" unless is_complete
  end
%>
<div class="<%= list_class %>">
  <div class="row">
    <div class="col-12 clearfix">
      <h5 class="float-left">
        <%= order[:placed_on].strftime('%a, %b %d') %> <br>
        <em class="font-size-14">Total: <%= to_currency(order[:total]) %></em>
        <%= "<em>(Please complete your order)</em>".html_safe unless is_complete %>
      </h5>
      <small class="float-right">
        <%= link_to 'Edit', edit_user_weekly_meals_path(date: order[:placed_on].to_date), class: 'chocolate-font-color' %>
      </small>
    </div>
  </div>
  <div class="row">
    <% order[:menus_orders].each do |category_name, meals| %>
      <div class="col-6">
        <h6 class="text-uppercase"><%= category_name %></h6>
        <ul class="list-unstyled">
          <% meals.each do |meal| %>
            <li>
              <%= meal.menu.name %>
              <%= meal.add_ons_list %>
              <%= "x #{meal.quantity}" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>