<div class="row">
  <div class="col-4">
    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      not_this_week: @not_this_week,
      calendar_date: @date,
      disable_right_control: false,
      disable_left_control: false
    } %>

    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      not_this_week: @not_this_week,
      calendar_date: @date.next_month,
      disable_right_control: true,
      disable_left_control: true
    } %>

    <h6>Copy Week</h6>
    <div class="row">
      <%= form_with url: user_copy_meals_path, local: true do |f| %>
        <div class="col">
          <div class="form-group row">
            <div class="col">
              <%= f.label :from %>
              <%= f.select :from, options_for_select(@from_options), {}, class: 'form-control' %>
            </div>
            <div class="col">
              <%= f.label :to %>
              <%= f.select :to, options_for_select(@to_options), {}, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col">
          <%= f.submit 'Copy', class: 'btn btn-brown' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-8 px-4">
    <div class="list-group">
      <% @orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :header_js do %>
  <%= stylesheet_pack_tag 'styles/weekly_meals' %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'user/meal_copier' %>
<% end %>
