<% 
  first_date = Date.current
  second_date = Date.current.next_month

  if @date.present?
    first_date = @date
    second_date = @date.next_month
  elsif @orders.present?
    first_date = @orders.first[:placed_on].to_date
    second_date = @orders.first[:placed_on].to_date.next_month
  end
%>
<%= content_tag :div, class: 'alert alert-info helper-alert' do %>
  To set up the rest of the weekly meals, click to copy your weekly meals below, or click on each date to select your selection, in each date you will also have the option of copying a single day.
<% end if current_user.subscribed? && current_user.get_current_subscription_orders.count < 20 %>

<div class="row">
  <div class="col-4">
    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      active_orders: @active_orders,
      calendar_date: first_date,
      available_dates: @available_dates,
      disable_right_control: false,
      disable_left_control: false
    } %>

    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      active_orders: @active_orders,
      calendar_date: second_date,
      available_dates: @available_dates,
      disable_right_control: true,
      disable_left_control: true
    } %>

    <% if current_user.subscribed? %>
      <%= render 'copy_form' unless current_user.orders_completed? %>
    <% end %>
    
    <%= render 'uncomplete_orders' if current_user.has_fresh_orders? %>
  </div>

  <% unless current_user.subscribed? %>
    <div class="col-8 px-4">
      <div class="list-group">
        <% @orders.each do |order| %>
          <%= render 'order', order: order %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render 'weekly_tabs', orders: @orders %>
  <% end %>
</div>

<%= content_for :header_js do %>
  <%= stylesheet_pack_tag 'styles/weekly_meals' %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'user/meal_copier' %>
  <script type="text/javascript">
    setTimeout(function() {
      $('.helper-alert').alert('close');
    }, 5000);
  </script>
<% end %>
