<div class="row">
  <div class="col-4">
    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      not_this_week: @not_this_week,
      calendar_date: @date,
      disable_right_control: false,
      disable_left_control: false
    } %>

    <%= render partial: 'user/weekly_meals/calendar', locals: {
      active_this_week: @active_this_week,
      not_this_week: @not_this_week,
      calendar_date: @date.next_month,
      disable_right_control: true,
      disable_left_control: true
    } %>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <%= copy_menu_checkbox(@order_preferences) %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8 px-4">
    <div class="list-group">
      <% @orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'user/meal_copier' %>
<% end %>
