<div class="row">
  <div class="col-4">
    <%= render partial: 'user/weekly_meals/calendar', locals: {
          active_this_week: @active_this_week,
          not_this_week: @not_this_week,
          calendar_date: @date
        } %>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <%= check_box_tag 'copy meals', true, @order_preference&.copy_menu || false, class: 'form-check-input' %>
          <label class="form-check-label" for="copy_meals">
            Copy Meals
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8 px-4">
    <div class="list-group">
      <% @orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'user/meal_copier' %>
<% end %>
