<h4 class="text-uppercase font-size-18">Setup next month meals</h4>
<div class="alert alert-info">
  <h4 class="alert-heading">Note:</h4>
  <p>This option is only if you want to change items for your next months orders, if you only want to change items for a few days for the coming month, only change these days the other days will get copied over from the previous month automatically.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted"><%= @schedules.first.strftime('%B') %></h6>
    <%= calendar @schedules.first do |date| %>
      <%
        url = new_user_create_new_month_path(date: date)
        klass = "active"
        if @order_dates.include?(date)
          url = edit_user_create_new_months_path(date: date)
          klass = "bg-success text-white"
        end
      %>
      <%= link_to_if @schedules.include?(date), 
        date.strftime('%d'), 
        url, 
        class: klass do %>
        <%= link_to date.strftime('%d'), '#' %>
      <% end %>
    <% end %>
    
    <% if @schedules.last.strftime('%B') != @schedules.first.strftime('%B') %>
      <h6 class="text-muted"><%= @schedules.last.strftime('%B') %></h6>
      <%= calendar @schedules.last do |date| %>
        <%
          url = new_user_create_new_month_path(date: date)
          klass = "active"
          if @order_dates.include?(date)
            url = edit_user_create_new_months_path(date: date)
            klass = "bg-success text-white"
          end
        %>
        <%= link_to_if @schedules.include?(date), 
          date.strftime('%d'), 
          url, 
          class: klass do %>
          <%= link_to date.strftime('%d'), '#' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>