<%= card_container do %>
  <div class="row mx-0">
    <div class="col">
      <table class="table table-md">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Full Address</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Plan</th>
            <th>Created At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="user_id_<%= user.id %> font-size-14">
              <td><%= user.full_name %></td>
              <td><%= user.full_address.truncate(45) %></td>
              <td>
                <%= mail_to user.email, class: 'chocolate-font-color' do %>
                  <i class="fa fa-envelope"></i>
                  <%= user.email %>
                <% end %>
              </td>
              <td><%= user.contact_number_phone_number %></td>
              <td><%= user.plan_name %></td>
              <td><%= user.created_at.strftime('%B %d, %Y @ %I:%M %P') %></td>
              <td>
                <%= link_to admin_client_path(user), class: 'chocolate-font-color' do %>
                  <i class="fa fa-eye"></i> View
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
<% end %>