<%= card_container do %>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <h4>
        <%= @user.full_name %> <br>
        <small class="text-muted font-size-14">
          <%= user_email(@user) %> |
          <%= user_phone_number(@user) %> <br>
          <%= user_address(@user) %> <br>
          <%= user_number_of_orders(@user) %>
        </small>
      </h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Order Date</th>
            <th>Placed On</th>
            <th># of items</th>
            <th>Notes</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.orders.each do |order| %>
            <tr class="<%= "#{@user.id}__#{order.id}" %>">
              <td><%= order.id %></td>
              <td><%= order.order_date.strftime('%b %d, %Y @ %I:%M %P') %></td>
              <td><%= order.placed_on.strftime('%b %d, %Y') %></td>
              <td><%= order.menus_orders.count %></td>
              <td><%= order.remarks %></td>
              <td><%= order.status || "Queued" %></td>
              <td><%= user_order_details_link(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>