<%= card_container do %>
  <div class="row justify-content-center mx-0">
    <div class="col text-left">
      <h4>
        <%= @user.full_name %> <br>
        <small class="text-muted font-size-14 chocolate-font-color">
          <%= user_email(@user) %> |
          <%= user_phone_number(@user) %> <br>
          <%= user_address(@user) %> <br>
          <%= user_number_of_orders(@user) %> <br>
          <%= user_plan_details(@user) %>
        </small>
      </h4>
    </div>
  </div>

  <%
    if params[:date]
      start_month = Date.parse(params[:date])
    else
      start_month = @user_orders.first.placed_on
    end
    end_month = start_month + 1.month
    active_orders = @user_orders.group_by { |o| o.placed_on.to_date }
  %>
  <div class="row justify-content-between mx-0 mt-4" id="clients-app">
    <div class="col">
      <div class="float-left">
        <%= link_to "<i class='fa fa-chevron-left'></i>".html_safe,
          admin_client_path(@user, date: (start_month.to_date - 2.month).to_date),
          class: 'chocolate-font-color' %>
        <%= link_to "<i class='fa fa-chevron-right'></i>".html_safe,
          admin_client_path(@user, date: (end_month + 1.month).to_date),
          class: 'chocolate-font-color' %>
      </div>
      <h5 class="text-center">
        <%= start_month.strftime('%^B %Y') %>
      </h5>
      <%= calendar start_month.to_date do |date| %>
        <% if active_orders[date].present? %>
          <% order = active_orders[date].first %>
          <%= link_to "javascript:void(0)",
            style: "background: #582D11; color: #fff", "@click": "showModal(#{order.id})" do %>
            <%= date.strftime('%d') %>
          <% end %>
        <% else %>
          <%= date.strftime('%d') %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <h5 class="text-center">
        <%= end_month.strftime('%^B %Y') %>
      </h5>
      <%= calendar end_month.to_date do |date| %>
        <% if active_orders[date].present? %>
          <% order = active_orders[date].first %>
          <%= link_to link_to "javascript:void(0)",
            style: "background: #582D11; color: #fff", "@click": "showModal(#{order.id})" do %>
            <%= date.strftime('%d') %>
          <% end %>
        <% else %>
          <%= date.strftime('%d') %>
        <% end %>
      <% end %>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="clients-modal-dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" v-show="show_header">
            <h5 class="modal-title">Edit Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="revertBack">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="clients-modal">
            Loading...<i class="fa fa-spinner fa-spin"></i>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-brown" @click="editOrder" v-show="show_edit_btn">Edit Order</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="revertBack">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/clients_page.js' %>
  <%= javascript_pack_tag 'admin/client_orders.js' %>
<% end %>


  <div class="row justify-content-center mx-0 mt-4 d-none">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Order Date</th>
            <th>Placed On</th>
            <th># of items</th>
            <th>Notes</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user_orders.each do |order| %>
            <tr class="<%= "#{@user.id}__#{order.id}" %>">
              <td><%= order.sku %></td>
              <td><%= order&.order_date&.strftime('%b %d, %Y @ %I:%M %P') %></td>
              <td><%= order.placed_on.strftime('%b %d, %Y') %></td>
              <td><%= order.menus_orders.count %></td>
              <td><%= order.remarks %></td>
              <td><%= order&.status&.titleize %></td>
              <td>
                <%= user_order_details_link(order) %>
                <%= user_order_edit_link(order) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%# paginate @user_orders %>
    </div>
  </div>
<% end %>