<div class="card text-center <%= plan.name.parameterize %>">
  <img class="card-img-top card__plan_image"
      src="<%= asset_pack_path "packs/images/#{plan.name.downcase.split(' ').join}.png" %>"
      alt="Card image cap">
  <div class="card-body card__plan_body">
    <h4 class="card-title">
      <%= plan.name %>
    </h4>
    <p class="card-text plan--description">
      <%= plan.short_description.html_safe %>
    </p>
    <p class="card-text">
      <% if plan.free? %>
        Free Deliver
      <% else %>
        <%= plan.shipping_note %>
      <% end %>
    </p>
    <p class="card-text text-upcase">Note:</p>
    <small class="card-text text-left card__plan_note_text">
      <%= plan.description.html_safe %>
    </small>
  </div>
  <div class="card-footer card__plan_footer">
    <% if plan.for_type != 'group' %>
      <%= link_to_btn "Choose #{plan.name}", subscribe_user_subscriptions_path(id: plan.id), 'btn-brown plan--btns' %>
    <% else %>
      <%= form_with url: user_subscriptions_path,
        local: true do |f| %>
        <%= f.hidden_field :id, value: plan.id %>
        <div class="form-group">
          <%= f.text_field :group_code, class: 'form-control', placeholder: 'Group Code' %>
          <small class="form-text text-muted text-left">
            If you are the first in the group leave group code empty and will generate a code for you.
          </small>
        </div>
        <div class="form-group mt-4 mb-0">
          <%= f.submit "Choose #{plan.name}", class: 'btn text-uppercase btn-brown plan--btns' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
