<%= card_container do %>
  <%= form_with url: import_admin_import_menus_path, multipart: true, local: true do |f| %>
    <%= render 'shared/flash' %>
    <div class="row">
      <div class="col-8">
        <h5 class="text-uppercase mb-0 text-muted-frish">Arguments</h5>
        <hr class="mt-1">
        <dl class="row">
          <dt class="col-sm-3">name <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>A string by which the menu is known. It is also use to updated existing record.</p>
          </dd>
          <dt class="col-sm-3">price <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>A positive float number (e.g 2.99 to charge $2.99).</p>
          </dd>
          <dt class="col-sm-3">category <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>A string to classify menu's (e.g 'Bread rolls')</p>
          </dd>
          <dt class="col-sm-3">unit <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>A string for weights and measure (e.g oz for ounce).</p>
          </dd>
          <dt class="col-sm-3">unit_size</dt>
          <dd class="col-sm-9">
            <p>A number representing the size or measure of the menu.</p>
          </dd>
          <dt class="col-sm-3">description</dt>
          <dd class="col-sm-9">
            <p>A text describing the menu.</p>
          </dd>
          <dt class="col-sm-3">tax <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>A true/false value field that indicates a taxable menu.</p>
          </dd>
          <dt class="col-sm-3">image</dt>
          <dd class="col-sm-9">
            <p>A string contianing the filename of the image (e.g bacon.jpg). And must be uploaded in media library</p>
          </dd>
          <dt class="col-sm-3">diet_category</dt>
          <dd class="col-sm-9">
            <p>A string containing either "Sugar Free, Gluten Free, Carb Free and May Contain Allergens".</p>
          </dd>
          <dt class="col-sm-3">item_number <small>(Required and must be Unique)</small></dt>
          <dd class="col-sm-9">
            <p>A string to tag menu (e.g TB123 for Tuna Bread). And item_number is use for updating the item</p>
          </dd>
          <dt class="col-sm-3">quantity <small>(Required)</small></dt>
          <dd class="col-sm-9">
            <p>An integer field describing the amount or number of menus</p>
          </dd>
          <dt class="col-sm-3">add_ons</dt>
          <dd class="col-sm-9">
            <p>A list of options separated by "|".
              (e.g "I need it hot|Toasted|Cheese|Cream Cheese") </p>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row mx-0 mb-4">
      <small class="mb-0 text-muted-frish">
        NOTES: Download the template to understand how to add Add-Ons with price and with Stock
      </small>
    </div>
    <div class="form-group">
      <div class="dropzone dropzone-area">
        <span>Drag your "csv, xlsx, xls" file here for import</span>
        <span>or</span>
        <%= f.label :file, 'Browse', class: 'btn btn-outline-secondary' %>
      </div>
      <%= f.file_field :file, class: 'd-none dropzone_file single_file', id: 'file' %>
    </div>
    <%= f.button 'Start Import', class: 'btn btn-matterhorn text-uppercase', data: {
      disable_with: disabled_text
    } %>
    </div>
  <% end %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/simple_dropzone' %>
<% end %>
