<div class="row">
  <div class="col">
    <strong>
      <%= source.brand %> <%= "****#{source.last4}" %>  
      <% if default == source.id %>
        <span>(default)</span>
      <% end %>    
    </strong>
  </div>
  <div class="col">
    <a href="javascript:void(0)" 
      class="float-right strong chocolate-font-color"
      @click="editCardPaymentMethod('<%= source.to_json %>')">
      Edit
    </a>
    <% if default != source.id %>
        <%= link_to 'Set Default', 
            user_set_default_payments_path(source: source.id),
            class: 'chocolate-font-color link-divided-right btn-link float-right',
            method: :post %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Card Holder Name</strong>
    <p><%= source.name || current_user.full_name %></p>
  </div>
  <div class="col">
    <strong>Expires</strong>
    <p><%= "#{trailing(source.exp_month, 2, '0')}/#{source.exp_year}" %></p>
  </div>
</div>
<div class="row <%= 'd-none' unless has_address(source) %>">
  <div class="col">
    <strong>Billing Address</strong>
    <p>
      <%= address_from_source(source) %>
    </p>
  </div>
</div>
<hr>