<%= card_container do %>
  <%= form_with model: @store_config, 
                url: admin_config_index_path, 
                local: true, class: 'col-md-6' do |f| %>
    <%= render 'shared/flash' %>
    <div class="form-group">
      <label for="">Store Id</label>
      <%= f.text_field :_id, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="">Store Code</label>
      <%= f.text_field :_code, class: 'form-control' %>
    </div>
    <div>
      <%= f.button 'Save Config', class: 'btn btn-brown text-uppercase' %>
    </div>
  <% end %>
<% end %>
