<div class="row">
  <div class="col-5">
    <p class="card-text">
      <small class="text-muted">
        <%= to_currency(menu.price) %> / <%= menu.unit.name.capitalize %>
      </small>
    </p>
  </div>
  <div class="col">
    <a href="javascript:void(0)" class="ctrl-btns btn btn-brown meal-ctrl-btns-minus rounded-0 disabled"  data-fmodel="<%= fmodel %>">
      -
    </a>
    <span class="meal-counter <%= menu.name.parameterize %>">
      0
    </span>
    <a href="javascript:void(0)" class="ctrl-btns btn btn-brown meal-ctrl-btns-plus rounded-0" data-fmodel="<%= fmodel %>">
      +
    </a>
  </div>
</div>