<%# render 'shared/menus/products', menu: menu, control: true  %>
<div class="card col-12 col-custom-255 px-0 border-0 mb-4 mt-1 mr-4" data-meal-id="<%= menu.id %>" data-meal-price="<%= menu.price %>" data-meal-name="<%= menu.name %>">
  <img class="card-img-top"
    src="<%= menu.image.url(quality: 'better', preview: '200x200') if menu.image? %>"
    alt="<%= menu.name.titleize %>"
    height="175">
  <div class="card-body px-0 py-1">
    <h5 class="card-title mb-0 font-family-montserrat">
      <%= menu.name.titleize %>
      <% if menu.diet_category_id? %>
        <span class="fa fa-star diet-icons <%= menu.diet_category&.name.parameterize %>">&nbsp;</span>
      <% end %>
    </h5>
    <% if !defined?(control).nil? %>
      <%= render 'shared/menus/menu_controls', { menu: menu, fmodel: fmodel || nil } %>
    <% else %>
      <p class="card-text">
        <small class="text-muted">
          <%= to_currency(menu.price) %> / <%= menu.unit.name.capitalize %>
        </small>
      </p>
    <% end %>
  </div>
</div>