<%
  store_url = "store_user_#{order.class.name.underscore.pluralize}_path"
  remove_url = "remove_user_#{order.class.name.underscore.pluralize}_path"
%>
<h5><%= order.placed_on.strftime('%A') %></h5>
<div class="order--list--container">
  <% order.menus_orders.each do |order| %>
    <div class="row clearfix">
      <div class="col-9">
        <%= order.menu_name %><%= order.add_ons_list %>
        <span class="float-right row col-4">
          <div class="pr-2">
            <%= link_to public_send(remove_url, menu_id: order.menu_id, date: params[:date], quantity: 1),
              class:'',
              remote: true do %>
              <i class="fa fa-minus-square-o chocolate-font-color" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="pr-2">
            <%= order.quantity %>
          </div>
          <div>
            <%= link_to public_send(store_url, menu_id: order.menu_id, date: params[:date], quantity: 1),
              class:'',
              remote: true do %>
              <i class="fa fa-plus-square-o chocolate-font-color" aria-hidden="true"></i>
            <% end%>
          </div>
        </span>
      </div>
      <div class="col-3">
        <span class="float-right">
          <%= to_currency(total_menu_price(order)) %>
        </span>
      </div>
    </div>
  <% end %>

  <% if has_tax(order.menus_orders) %>
    <div class="row clearfix">
      <div class="col-8">
        Tax
      </div>
      <div class="col-4">
        <span class="float-right">
          <%= to_currency(total_tax(order.menus_orders)) %>
        </span>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="row clearfix">
  <div class="col">
    <span>Sub Total</span>
  </div>
  <div class="col">
    <span class="float-right">
      <%= to_currency(order.sub_total) %>
    </span>
  </div>
</div>
<% if order.user.plan.interval != 'month' %>
  <div class="row clearfix">
    <div class="col">
      <span>Shipping Fee</span>
    </div>
    <div class="col">
      <span class="float-right">
        <%= to_currency(order.shipping_fee) %>
      </span>
    </div>
  </div>
<% end %>

<div class="row clearfix">
  <div class="col">
    <strong>Total</strong>
  </div>
  <div class="col">
    <strong class="float-right">
      <%= to_currency(order.total) %>
    </strong>
  </div>
</div>

<div class="warnings">
  <%= display_warning(order.sub_total) %>
</div>

<div class="row mt-4">
  <div class="col">
    <% is_disabled = "disabled" unless order.menus.present? %>
    <%= link_to 'Save Meal Plan',
      persist_user_orders_path(order_id: order.id, format: :js),
      class: "btn btn-brown text-uppercase btn-block #{is_disabled}",
      remote: true %>
  </div>
</div>
<% if order.cancelled? %>
  <div class="row mt-4">
    <div class="col">
      <div class="alert alert-warning">
        Order has been cancelled for delivery!
      </div>
      <% is_disabled = "disabled" unless order.menus.present? %>
      <%= link_to 'Undo Cancellation',
        undo_cancel_user_orders_path(order_id: order.id, format: :js),
        class: "btn btn-info text-uppercase btn-block #{is_disabled}",
        remote: true %>
    </div>
  </div>
<% else %>
  <div class="row mt-4">
    <div class="col">
      <% is_disabled = "disabled" unless order.menus.present? %>
      <%= link_to 'Cancel Delivery',
        cancel_user_orders_path(order_id: order.id, format: :js),
        class: "btn btn-warning text-uppercase btn-block #{is_disabled}",
        remote: true %>
    </div>
  </div>
<% end %>