<%
  store_url = "store_user_#{order.class.name.underscore.pluralize}_path"
  remove_url = "remove_user_#{order.class.name.underscore.pluralize}_path"
%>
<h5><%= order.placed_on.strftime('%A') %></h5>
<% order.menus_orders.each do |order| %>
  <div class="row clearfix">
    <div class="col-8">
      <%= order.menu_name %><%= order.add_ons_list %>
      <span class="float-right row">
        <div class="col">
          <%= link_to public_send(remove_url, menu_id: order.menu_id, date: params[:date], quantity: 1),
            class:'',
            remote: true do %>
            <i class="fa fa-minus-square-o chocolate-font-color" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="col">
          <%= order.quantity %>
        </div>
        <div class="col">
          <%= link_to public_send(store_url, menu_id: order.menu_id, date: params[:date], quantity: 1),
            class:'',
            remote: true do %>
            <i class="fa fa-plus-square-o chocolate-font-color" aria-hidden="true"></i>
          <% end%>
        </div>
      </span>
    </div>
    <div class="col-4">
      <span class="float-right">
        <%= to_currency(total_menu_price(order)) %>
      </span>
    </div>
  </div>
<% end %>
<hr>
<div class="row clearfix">
  <div class="col">
    <strong>Total</strong>
  </div>
  <div class="col">
    <strong class="float-right">
      <%= to_currency(order.total) %>
    </strong>
  </div>
</div>

<div class="warnings">
  <%= display_warning(order.total) %>
</div>

<div class="row mt-4">
  <div class="col">
    <% is_disabled = "disabled" unless order.menus.present? %>
    <%= link_to 'Save Meal Plan',
      persist_user_orders_path(order_id: order.id, format: :js),
      class: "btn btn-brown text-uppercase btn-block #{is_disabled}",
      remote: true %>
  </div>
</div>
<% if order.cancelled? %>
  <div class="row mt-4">
    <div class="col">
      <div class="alert alert-warning">
        Order has been cancelled for delivery!
      </div>
      <% is_disabled = "disabled" unless order.menus.present? %>
      <%= link_to 'Undo Cancellation',
        undo_cancel_user_orders_path(order_id: order.id, format: :js),
        class: "btn btn-info text-uppercase btn-block #{is_disabled}",
        remote: true %>
    </div>
  </div>
<% else %>
  <div class="row mt-4">
    <div class="col">
      <% is_disabled = "disabled" unless order.menus.present? %>
      <%= link_to 'Cancel Delivery',
        cancel_user_orders_path(order_id: order.id, format: :js),
        class: "btn btn-warning text-uppercase btn-block #{is_disabled}",
        remote: true %>
    </div>
  </div>
<% end %>