<%= card_container do %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Amount</th>
        <th>Order Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_credits.each do |pending_credit| %>
        <tr>
          <td><%= pending_credit.user.full_name %></td>
          <td><%= to_currency(pending_credit.amount) %></td>
          <td><%= pending_credit.placed_on_date&.strftime('%B %d, %Y') %></td>
          <td class="<%= pending_credit.status  %>">
            <%= pending_credit.status.humanize %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @pending_credits %>
<% end %>

<%= content_for :header_js do %>
  <style lang="css">
    .pending_refund {
      color: var(--secondary);
    } 
    .refunded {
      color: var(--cyan);
    }
  </style>
<% end %>