<div class="row mx-0">
  <div class="col-4">
    <h1 id="title">
      <%= link_to "Orders", admin_dashboard_index_path %>
    </h1>
  </div>
  <div class="col-8">
    <ul class="list-inline list-unstyled float-right nav nav-pills" role="tablist">
      <li class="list-inline-item">Filter by:</li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="meal-plan" aria-selected="false"
          id="meal-plan-tab-item"
          href="#meal-plan-filter-tab">Meal Plan</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="location" aria-selected="false"
          id="location-tab-item"
          href="#location-filter-tab">Location</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="date-filter-tab" aria-selected="false"
          id="date-tab-item"
          href="#date-filter-tab">Date</a>
      </li>
      <li class="list-inline-item">
        <%= rollover_orders_to_scanovator_api_btn %>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade" id="meal-plan-filter-tab" role="tabpanel">
    <%= form_with url: admin_dashboard_index_path, method: 'GET', local: true do |f| %>
      <%= hidden_field_tag :date, params[:date] if params[:date].present? %>
      <%= hidden_field_tag :meal, params[:meal] if params[:meal].present?%>
      <div class="input-group mb-3">
        <%= f.text_field :search_term_for_menus, class: 'form-control' %>
        <div class="input-group-append">
          <%= f.button :search, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
    <div class="row meal-selection filter_meals">
      <% @order_query.top_20_menu.each do |menus| %>
        <ul class="list-unstyled col-3">
          <% menus.each do |menu| %>
            <%
              is_checked = false
              if params[:meal]
                is_checked = params[:meal].split(',').include?(menu.first.second.to_s)
              end
            %>
            <li style="line-height: 2rem">
              <label>
                <%= check_box_tag('menus', menu.first.second, is_checked, data: { target: '#filter-meal-btn'}) %>
                <%= menu.first.first %>
              </label>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= link_to 'Apply Filter', request.params.merge(meal: nil), class: 'btn btn-brown', id: 'filter-meal-btn' %>
    <%= link_to 'Cancel', 'javascript:void(0)', class: 'close-active-tab btn btn-outline-secondary', data: {
      target_tablist: '#meal-plan-tab-item'
    } %>
  </div>
  <div class="tab-pane fade" id="location-filter-tab" role="tabpanel">
    <%= form_with url: admin_dashboard_index_path, method: 'GET', local: true do |f| %>
      <%= hidden_field_tag :date, params[:date] if params[:date].present? %>
      <%= hidden_field_tag :meal, params[:meal] if params[:meal].present? %>
      <div class="input-group mb-3">
        <%= f.text_field :search_term_for_location, class: 'form-control' %>
        <div class="input-group-append">
          <%= f.button :search, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
    <div class="row filter_location">
      <% @order_query.top_20_cities.each do |cities| %>
        <ul class="list-unstyled col-3">
          <% cities.each do |city| %>
            <li style="line-height: 2rem">
              <label>
                <%= check_box_tag('cities', city.first, false, data: { target: '#filter-meal-btn'}) %>
                <%= city.first %>
              </label>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= link_to 'Apply Filter', request.params, class: 'btn btn-brown', id: 'filter-location-btn' %>
    <%= link_to 'Cancel', 'javascript:void(0)', class: 'close-active-tab btn btn-outline-secondary', data: {
      target_tablist: '#location-tab-item'
    } %>
  </div>
  <div class="tab-pane fade" id="date-filter-tab" role="tabpanel">
    <div class="filter_container">
      <div class="row justify-content-center">
        <div class="col-5 admin-dashboard__calendar">
          <div class="admin-dashboard__calendar_container">
            <%= render 'admin/calendars/calendar', date: Date.current, selected_date: @date  %>
          </div>
          <%= link_to 'Apply Filter', admin_dashboard_index_path(date: @date), class: 'btn btn-brown', id: 'filter-date-btn' %>
          <%= link_to 'Cancel', 'javascript:void(0)', class: 'close-active-tab btn btn-outline-secondary', data: {
            target_tablist: '#date-tab-item'
          } %>
        </div>
      </div>
    </div>
  </div>
</div>