<div class="row mx-0">
  <div class="col-4">
    <h1 id="title">
      <%= link_to "Orders", admin_dashboard_index_path %>
    </h1>
  </div>
  <div class="col-8">
    <ul class="list-inline list-unstyled float-right nav nav-pills" role="tablist">
      <li class="list-inline-item">Filter by:</li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="meal-plan" aria-selected="false"
          id="meal-plan-tab-item"
          href="#meal-plan-filter-tab">Meal Plan</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="location" aria-selected="false"
          id="location-tab-item"
          href="#location-filter-tab">Location</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-sm btn-brown-outline-circled font-size-14"
          data-toggle="tab" role="tab"
          aria-controls="date-filter-tab" aria-selected="false"
          id="date-tab-item"
          href="#date-filter-tab">Date</a>
      </li>
      <li class="list-inline-item">
        <%= rollover_orders_to_scanovator_api_btn %>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade" id="meal-plan-filter-tab" role="tabpanel"></div>
  <div class="tab-pane fade" id="location-filter-tab" role="tabpanel"></div>
  <div class="tab-pane fade" id="date-filter-tab" role="tabpanel">
    <div class="filter_container">
      <div class="row justify-content-center">
        <div class="col-5 admin-dashboard__calendar">
          <div class="admin-dashboard__calendar_container">
            <%= render 'admin/calendars/calendar', date: Date.current, selected_date: @date  %>
          </div>
          <%= link_to 'Apply Filter', admin_dashboard_index_path(date: @date), class: 'btn btn-brown', id: 'filter-date-btn' %>
          <%= link_to 'Cancel', 'javascript:void(0)', class: 'close-active-tab btn btn-outline-secondary', data: {
            target_tablist: '#date-tab-item'
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
