<table class="table table-sm">
  <thead>
    <tr>
      <th>QTY</th>
      <th>ITEM</th>
      <th>PRICE</th>
    </tr>
  </thead>
  <tbody>
    <% o.menus_orders.each do |menu_order| %>
      <%= render 'menu_order', o: o, menu_order: menu_order %>
    <% end %>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Sub-total
        </span>
      </td>
      <td>
        <%= to_currency(o.sub_total) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Shipping
        </span>
      </td>
      <td>
        <%= to_currency(o.shipping_fee) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Total
        </span>
      </td>
      <td>
        <%= to_currency(o.total) %>
      </td>
    </tr>
  </tbody>
</table>
<a href="javascript:void(0)" class="chocolate-font-color" @click="hideDetails(<%= o.id %>)">
  Hide Order Details <i class="fa fa-angle-up"></i>
</a>
