<div class="container-fluid mt-4 <%= order.id %> admin_dashboard__order_list_item">
  <div class="row">
    <div class="col">
      <h5 class="font-size-16">
        <%= order.sku %> - <%= order.user.full_name %>
      </h5>
      <h5 class="font-size-14">
        <%= order.series_number %>
        <small class="text-muted">(delivered on <%= order.delivered_at&.strftime('%I:%M %P') %>)</small>
      </h5>
    </div>
    <div class="col">
      <%= show_delivery_status(order) %>
    </div>
  </div>
</div>