<table class="table table-sm">
  <thead>
    <tr>
      <th>QTY</th>
      <th>ITEM</th>
      <th>PRICE</th>
    </tr>
  </thead>
  <tbody>
    <% o.grouped_menus.each do |name, menus| %>
      <tr id="<%= "#{o.id} - #{name}" %>">
        <td><%= menus.count %></td>
        <td><%= name %></td>
        <td><%= to_currency(menus.pluck(:price).inject(:+)) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Sub-total
        </span>
      </td>
      <td>
        <%= to_currency(o.sub_total) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Shipping
        </span>
      </td>
      <td>
        <%= to_currency(o.shipping_fee) %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="float-right">
          Total
        </span>
      </td>
      <td>
        <%= to_currency(o.total) %>
      </td>
    </tr>
  </tbody>
</table>
<a href="javascript:void(0)" @click="hideDetails(<%= o.id %>)">
  Hide Order Details <i class="fa fa-angle-up"></i>
</a>