<div class="container-fluid mt-4 <%= order.id %>">
  <div class="row">
    <div class="col">
      <h5>
        <%= order.series_number %>
        <small class="text-muted">(placed on <%= order.placed_on.strftime('%I:%M %P') %>)</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="matterhorn-font-color">
        <%= order.user.full_name %> <small class="pl-1 text-muted"><%= "< #{order.user.email} >" %></small>
      </strong>
      <p><%= order.user.full_address %></p>
      <a href="javascript:void(0)" @click="showDetails(<%= order.id %>)" id="view-<%= order.id %>">
        View Order Details <i class="fa fa-angle-down"></i>
      </a>
    </div>
    <div class="col">
      <strong class="matterhorn-font-color">Notes</strong>
    </div>
  </div>
  <div class="row fade d-none" id="<%= "order-#{order.id}" %>">
    <div class="col-6">
      <%= render 'order_details', o: order %>
    </div>
  </div>
</div>