<div class="container-fluid" style="margin-bottom: 10rem">
  <div class="row dashboard__displays">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <%= svg_tag 'packs/images/cart.svg' %>
        </div>
        <div class="col pl-0">
          Active Orders
          <h2><%= @order_query.active_orders.size %></h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <%= svg_tag 'packs/images/wallet.svg' %>
        </div>
        <div class="col pl-0">
          Daily Sales
          <h2><%= to_currency(@order_query.current_sales || 0) %></h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <%= svg_tag 'packs/images/thumbs-up.svg' %>
        </div>
        <div class="col pl-0">
          Best Seller
          <h2><%= @order_query.best_seller.name %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<%= card_container do %>
  <div id="frishtug_orders" class="admin__tabs" data-date="<%= params[:date] %>">
    <vue-tabs>
      <v-tab title="TODAY (<%= @order_query.active_orders.size %>)">
        <h5 class="mt-3 font-size-16 mx-3 current_sales_header font-family-montserrat-medium">
          <%= current_sale_date(@date) %> - Current Sales <%= to_currency(@order_query.current_sales) %>
        </h5>
        <div class="orders_today_list mb-4">
          <div v-for="order in today">
            <todays-list v-bind:order="order"></todays-list>
          </div>
          <div class="text-center mt-4">
            <a href="javascript:void(0)" class="burlywood-font-color font-size-14" @click="viewMore">View more</a>
          </div>
        </div>
      </v-tab>
      <v-tab title="IN TRANSIT (<%= @order_query.in_transit.size %>)">
        <%= render partial: 'orders_in_transit', collection: @order_query.in_transit, as: :order %>
      </v-tab>
      <v-tab title="COMPLETED (<%= @order_query.completed.size %>)">
        <%= render partial: 'orders_completed', collection: @order_query.completed, as: :order %>
      </v-tab>
    </vue-tabs>
  </div>
<% end %>

<%= content_for :header_js do %>
  <%= stylesheet_pack_tag 'styles/admin_tabs' %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/orders' %>
  <%= javascript_pack_tag 'admin/dashboard' %>
  <script type="text/javascript">
    $('a.close-active-tab').click(function (e) {
        var tablistId = $(this).attr('data-target-tablist');
        var tab = $(tablistId);
        if(tab.hasClass('active')){
            window.setTimeout(function(){
                $(".tab-pane").removeClass('active');
                tab.removeClass('active');
            },1);
        }
    });
  </script>
<% end %>