<div class="container-fluid">
  <div class="row">
    <div class="col">
      Active Orders
      <%= @order_query.active_orders.size %>
    </div>
    <div class="col">
      Total Sales
      <%= monefy(@order_query.total_sales) %>
    </div>
    <div class="col">
      Best Seller
      <%= @order_query.best_seller[:name] %>
    </div>
  </div>
</div>
<%= card_container do %>
  <div id="frishtug_orders">
    <vue-tabs>
      <v-tab title="TODAY (<%= @order_query.active_orders.size %>)">
        <%= render 'orders_today', orders: @order_query.active_orders %>
      </v-tab>

      <v-tab title="IN TRANSIT (0)">
        Second tab content
      </v-tab>

      <v-tab title="COMPLETED (0)">
        Third tab content
      </v-tab>
    </vue-tabs>
  </div>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/orders' %>
<% end %>