<div class="container-fluid">
  <div class="row">
    <div class="col">
      Active Orders
      <h2><%= @order_query.active_orders.size %></h2>
    </div>
    <div class="col">
      Total Sales
      <h2><%= to_currency(@order_query.total_sales) %></h2>
    </div>
    <div class="col">
      Best Seller
      <h2><%= @order_query.best_seller[:name] %></h2>
    </div>
  </div>
</div>
<%= card_container do %>
  <div id="frishtug_orders">
  <h5><%= current_sale_date(@date) %> - Current Sales <%= to_currency(@order_query.current_sales) %></h5>
    <vue-tabs>
      <v-tab title="TODAY (<%= @order_query.active_orders.size %>)">
        <%= render partial: 'orders_today', collection: @order_query.active_orders, as: :order %>
      </v-tab>

      <v-tab title="IN TRANSIT (0)">
        Second tab content
      </v-tab>

      <v-tab title="COMPLETED (0)">
        Third tab content
      </v-tab>
    </vue-tabs>
  </div>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/orders' %>
  <%= javascript_pack_tag 'admin/dashboard_filter' %>
  <script type="text/javascript">
    $('a.close-active-tab').click(function (e) {
        var tablistId = $(this).attr('data-target-tablist');
        var tab = $(tablistId);
        if(tab.hasClass('active')){
            window.setTimeout(function(){
                $(".tab-pane").removeClass('active');
                tab.removeClass('active');
            },1);
        }
    });
  </script>
<% end %>
