<div class="col container-240 sidebar mt-4">
  <div class="flex-column navbar-collapse">
    <ul class="navbar-nav ml-auto sidebar-navbar">
      <li class="nav-item <%= active?(admin_dashboard_index_path) %>">
        <%= nav_link 'Dashboard', admin_dashboard_index_path %>
      </li>
      <li class="nav-item <%= active?(admin_menus_path) %>">
        <%= nav_link 'Your Menu', admin_menus_path %>
      </li>
      <li class="nav-item <%= active?(admin_shoppings_lists_path) %>">
        <%= nav_link 'Shopping Lists', admin_shoppings_lists_path %>
      </li>
      <li class="nav-item <%= active?(admin_menu_categories_path) %>">
        <%= nav_link 'Menu Categories', admin_menu_categories_path %>
      </li>
      <li class="nav-item <%= active?(admin_import_menus_path) %>">
        <%= nav_link 'Import Menus', admin_import_menus_path %>
      </li>
      <li class="nav-item <%= active?(admin_inventory_index_path) %>">
        <%= nav_link 'Inventory', admin_inventory_index_path %>
      </li>
      <li class="nav-item <%= active?(admin_plans_path) %>">
        <%= nav_link 'Plans', admin_plans_path %>
      </li>
      <li class="nav-item <%= active?(admin_units_path) %>">
        <%= nav_link 'Units', admin_units_path %>
      </li>
      <li class="nav-item <%= active?(admin_configs_path) %>">
        <%= nav_link 'Store Config', admin_configs_path %>
      </li>
      <li class="nav-item <%= active?(admin_assets_path) %>">
        <%= nav_link 'Media', admin_assets_path %>
      </li>
      <li class="nav-item <%= active?(admin_clients_path) %>">
        <%= nav_link 'Clients', admin_clients_path %>
      </li>
      <li class="nav-item <%= active?(admin_inactive_users_path) %>">
        <%= nav_link 'Inactive Users', admin_inactive_users_path %>
      </li>
      <li class="nav-item <%= active?(admin_blackout_dates_path) %>">
        <%= nav_link 'Blackout Dates', admin_blackout_dates_path %>
      </li>
    </ul>
  </div>
</div>
