<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 70px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);">
  <div class="container container-1325">
    <%= logo('170x41') %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse navbar-toggleable-md" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= admin_signout_link %>
        </li>
      </ul>
      <div class="col-5">
        <%= form_with url: admin_search_results_path, method: :get, local: true do |f| %>
          <div class="input-group">
            <%= f.text_field :search_term, class: 'form-control', placeholder: 'Search customer name, sku and more...' %>
            <div class="input-group-append">
              <%= f.button class: 'btn border-0 position-absolute', style: 'right: 0px;background: transparent;' do %>
                <%= svg_tag 'packs/images/search-icon.svg', size: '18x18' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
