<%= card_container do %>
  <div class="row mx-0">
    <div class="col">
      <span class="font-family-montserrat-semi-bold font-size-16">
        <% if params[:weekly] %>
          <%= "Week - #{@date.beginning_of_week.strftime('%B %d')} to #{@date.end_of_week.strftime('%d')}"%>
        <% elsif params[:monthly] %>
          <%= "Month of #{@date.beginning_of_week.strftime('%B')}" %>
        <% elsif params[:start_date] && params[:end_date] %>
          <%= "Custom - #{Time.zone.parse(params[:start_date]).strftime('%B %d')} to #{Time.zone.parse(params[:end_date]).strftime('%B %d')}"%>
        <% else %>
          <%= @date.today? ? "Today - #{@date.strftime('%B %d')}" : @date.strftime('%B %d') %>
        <% end %>
      </span>
    </div>
    <div class="col d-flex justify-content-end">
      <%= print_btn class: 'light-gray-font-color mr-3' %>
      <%= download_btn 'Download', request.params.merge(format: :csv), class: 'light-gray-font-color' %>
    </div>
  </div>
  <hr class="mt-2">

  <div class="row mx-0">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Items</th>
            <th class="text-right">Number Sold</th>
          </tr>
        </thead>
        <tbody>
          <% @inventory_transactions.group_by { |i| i.inventory.menu.name }.sort.each do |name, items| %>
            <tr>
              <td><%= name %></td>
              <td class="text-right"><%= items.map(&:quantity_sold).inject(:+) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/inventory' %>
  <script type="text/javascript">
    $('a.close-active-tab').click(function (e) {
        var tablistId = $(this).attr('data-target-tablist');
        var tab = $(tablistId);
        if(tab.hasClass('active')){
            window.setTimeout(function(){
                $(".tab-pane").removeClass('active');
                tab.removeClass('active');
            },1);
        }
    });
  </script>
<% end %>
