<%= card_container do %>
  <div class="row">
    <div class="col">
      <span class="font-family-montserrat-semi-bold font-size-16">
        <%= @date.today? ? "Today - #{@date.strftime('%B %d')}" : @date.strftime('%B %d') %>
      </span>
    </div>
    <div class="col d-flex justify-content-end">
      <%= print_btn class: 'light-gray-font-color mr-3' %>
      <%= download_btn 'Download', admin_inventory_index_path(format: :csv), class: 'light-gray-font-color' %>
    </div>
  </div>
  <hr class="mt-2">

  <div class="row">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Items</th>
            <th>Number Sold</th>
          </tr>
        </thead>
        <tbody>
          <%= render @inventory_transactions %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>