<%= card_container do %>
  <h5>
    <%= @date %>
    <% items = @shopping_lists.map { |m| m[:menu].id }.count %>
    <%= "-#{pluralize(items, 'item')}" %>
  </h5>
  <table class="table table-hover">
    <tbody>
      <% @shopping_lists.each do |list| %>
        <tr class="<%= list[:menu].id %>">
          <td>
            <h6><%= list[:menu].name %></h6>
            <span>Order # <%= list[:order_ids].join(', ') %></span>
          </td>
          <td>
            <span><%= list[:order_ids].length %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>