<div class="row mx-0">
    <div class="col">
      <h4 class="text-left">
        Order SKU: <em class="text-muted-frish"><%= @order.sku %></em> <br>
        <small class="font-size-14">
          Placed On: <em class="text-muted-frish"><%= @order.placed_on.to_date %></em> <br>
          Status: <em class="text-muted-frish"><%= @order.status.titleize %></em> <br>
          Delivery Status: <em class="text-muted-frish"><%= @order.delivery_status&.titleize %></em> <br>
          Client: <em class="text-muted-frish"><%= @order.user.full_name %></em>
        </small>
      </h4>
    </div>
  </div>

  <div class="row mt-4 mx-0">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>QTY</th>
            <th>Price</th>
            <th>Add Ons</th>
            <th>Total Price</th>
          </tr>
        </thead>

        <tbody>
          <% @order.menus_orders.each do |menu_order| %>
            <tr class="<%= "#{@order.id}__#{menu_order.id}" %>">
              <td><%= menu_order.menu_name %></td>
              <td><%= menu_order.quantity %></td>
              <td><%= to_currency(menu_order.menu_price) %></td>
              <td><%= add_ons_list(menu_order) %></td>
              <td><%= total_price(menu_order.menu_price, menu_order.quantity, menu_order.add_ons) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex flex-column font-size-14">
        <strong class="align-self-end">
          Tax: <em><span class="font-size-18"><%= @order.total_tax %></span></em>
        </strong>
        <strong class="align-self-end">
          Sub Total: <em><span class="font-size-18"><%= @order.sub_total %></span></em>
        </strong>
        <strong class="align-self-end">
          Total: <em><span class="font-size-18"><%= @order.total %></span></em>
        </strong>
      </div>
    </div>
  </div>