<%= card_container do %>
  <div class="row">
    <div class="col">
      <h4 class="text-center">
        Order #: <%= @order.id %> <br>
        <small class="text-muted font-size-14">
          Placed On: <%= @order.placed_on.to_date %> <br>
          Client: <%= @order.user.full_name %>
        </small> <br>
        <strong class="font-size-14">
          Total: <span class="font-size-18"><%= total_cost(@order) %></span>
        </strong>
      </h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Image</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Add Ons</th>
            <th>Total Price (Plus Add On Price)</th>
          </tr>
        </thead>

        <tbody>
          <% @order.menus_orders.each do |menu_order| %>
            <tr class="<%= "#{@order.id}__#{menu_order.id}" %>">
              <td><%= item_image(menu_order) %></td>
              <td><%= menu_order.menu_name %></td>
              <td><%= menu_order.quantity %></td>
              <td><%= to_currency(menu_order.menu_price) %></td>
              <td><%= add_ons_list(menu_order) %></td>
              <td><%= total_price(menu_order.menu_price, menu_order.quantity, menu_order.add_ons) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>