<%-
  image_url = nil
  if Store.first
    image_url = Store.first.home_page_images
                      .urls(quality: 'normal', progressive: 'yes').sample(1).first
  end
 %>
<div class="row mx-0 justify-content-center align-items-center home-banner"
  style="background-image: url('<%=  image_url %>');">
  <div class="text-center pt-4" style="background: rgba(255,255,255,.9); height: 254px; width: 790px; z-index: 1">
    <h2 class="text-uppercase font-family-montserrat-semi-bold">A Fresh Day Starts Here!</h2>
    <p class="mb-0 font-size-18">Begin your day with a fresh and healthy kosher meal from Frishtug!</p>
    <p class="mb-0 font-size-18">Choose from a wide variety of delicious choices. Schedule your deliveries</p>
    <p class=" font-size-18">to keep you nourished during your busy week!</p>
    <%= link_to 'Lets get started', '/user_registrations', class: 'btn btn-brown text-uppercase font-family-montserrat-semi-bold font-size-18 px-4' %>
  </div>
  <div class="home-banner__gradient-mask"></div>
</div>

<div class="row mx-0 justify-content-center transparent-bg">
  <div class="text-center">
    <i class="fa fa-map-marker fa-2x"></i>
    <h4>Serving Monroe, Spring Valley, Monsey, Chesnut Ridge</h4>
    <h4>Airmont and Welsey Hills</h4>
  </div>
</div>

<div class="row mx-0 justify-content-center mb-42px">
  <div class="container text-center">
    <h4 class="text-uppercase font-family-montserrat-semi-bold">how it works</h4>
  </div>
</div>

<div class="row mx-0 justify-content-center">
  <div class="container row text-center align-items-end">
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/pen_icon.png' %>" alt="" class="rounded mb-3">
      </div>
      <span class="font-size-18 font-family-montserrat-medium">Sign Up <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/select_meal_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat-medium">Setup your daily menu <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/shopping_cart_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat-medium">Check Out <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/eat_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat-medium">Wait for the Delivery and Enjoy!</span>
    </div>
  </div>
</div>

<div class="container mb-50px">
  <hr class="pb-4">
  <div class="container text-center">
    <%= link_to 'Learn More', '/how_it_works', class: 'btn btn-brown-outline-rounded font-family-montserrat-semi-bold text-uppercase' %>
    <%= link_to 'Register', '/user_registrations', class: 'btn btn-brown-outline-rounded font-family-montserrat-semi-bold text-uppercase' %>
  </div>
</div>
