<div class="banner" style="background-image: url('<%= asset_pack_path 'packs/images/how_it_works_banner_bg.jpg'%>')">
  <div class="fishnet">
  </div>
</div>

<div class="row mx-0">
  <div class="col text-center">
    <h4 class="text-uppercase font-family-montserrat">How it works</h4>
  </div>
</div>

<div class="row mx-0 justify-content-center">
  <div class="container row text-center align-items-end">
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/pen_icon.png' %>" alt="" class="rounded mb-3">
      </div>
      <span class="font-size-18 font-family-montserrat">Sign Up <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/select_meal_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat">Setup your daily menu <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/shopping_cart_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat">Check Out <br>&nbsp;</span>
    </div>
    <div class="col">
      <div class="text-center">
        <img src="<%= asset_pack_path 'packs/images/eat_icon.png' %>" alt="" class="rounded">
      </div>
      <span class="font-size-18 font-family-montserrat">Wait for the delivery + Enjoy</span>
    </div>
  </div>
</div>

<div class="row mx-0 justify-content-center mt-3">
  <div class="container row align-items-start">
    <div class="col">
      <span class="font-size-14">
        Complete the simple setup process to activate your account.
      </span>
    </div>
    <div class="col">
      <span class="font-size-14">
        Choose your delicious options from our extensive kosher menu. Select meals for every day of your chosen week. The option plan determines the $ amount of your meal. You can always select items over your plan for an additional charge.
      </span>
    </div>
    <div class="col">
      <span class="font-size-14">
        Check out is easy and secure! We accept cash and most major credit cards.
      </span>
    </div>
    <div class="col">
      <span class="font-size-14">
        Orders placed before 11am the previous day will be delivered the next day.
      </span>
    </div>
  </div>
</div>

<div class="row mx-0 justify-content-center mt-60px mb-50px">
  <div class="container row text-center align-items-start">
    <div class="col">
      <span class="font-size-18 font-family-montserrat">
        Tagline here lorem sit amet dolor sit amet!
      </span>
      <%= link_to 'View Our Menu', '/the_menu',
        class: 'btn btn-brown-outline-rounded font-family-montserrat text-uppercase ml-4' %>
    </div>
  </div>
</div>


<div class="footer-banner"
  style="background-image: url('<%= asset_pack_path "packs/images/how_it_works_footer_banner_bg.jpg" %>');">
  <div class="footer-banner__header mt-48px">
    <h4 class="text-center text-uppercase">Why Order from us? / other features</h4>
  </div>
  <div class="footer-banner__body container">
    <div class="row justify-content-center">
      <div class="col">
        <ul class="other-features">
          <li class="fa-home">Order your daily breakfast and lunch online.</li>
          <li class="fa-search">Live order tracking.</li>
          <li class="fa-credit-card">Cash or Credit Cards accepted</li>
        </ul>
      </div>
      <div class="col">
        <ul class="other-features">
          <li class="fa-money">Free delivery for orders $14.95 and up. <br>&nbsp;</li>
          <li class="fa-cutlery">We offer a separate Diet Menu</li>
          <li class="fa-map-marker">Wide delivery area in NYC (Delivery can be arranged for out-of-service areas on a case by case basis.)</li>
        </ul>
      </div>
      <div class="col">
        <ul class="other-features">
          <li class="fa-users">Free delivery for group orders. (minimum of 5 customers from the same delivery address).</li>
          <li class="fa-trash-o">Cancel the service at any time.</li>
          <li class="fa-envelope-o">Receive your billing notifications via e-mail.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-banner__footer container mb-4">
    <div class="row text-center">
      <div class="col">
        <p class="font-size-18 font-family-montserrat">
          To receive a brochure in yiddish click <%= link_to 'here', '#', class: 'light-link text-underline' %>
        </p>
        <%= link_to 'Questions? Contact Us', '/contact_us',
          class: 'btn btn-outline-light text-uppercase font-family-montserrat' %>
      </div>
    </div>
  </div>
</div>
