<div class="banner" style="background-image: url('<%= asset_pack_path "packs/images/plan_banner_bg.jpg" %>')">
  <div class="fishnet">
  </div>
</div>

<div class="row mx-0">
  <div class="col text-center">
    <h3 class="text-uppercase font-family-montserrat">Plan Options</h3>
  </div>
</div>

<div class="container mt-48px">
  <div class="card-deck">
    <% @plans.each do |p| %>
      <div class="card <%= p.name.parameterize %>">
        <img class="card-img-top card__plan_image"
          src="<%= asset_pack_path "packs/images/#{p.name.downcase.split(' ').join}.png" %>"
          alt="Card image cap">
        <div class="card-body card__plan_body">
          <h4 class="card-title">
            <%= p.name %>
          </h4>
          <p class="card-text plan--description">
            <%= p.short_description.html_safe %>
          </p>
          <p class="card-text">
            <% if p.free? %>
              FREE DELIVERY!
            <% else %>
              <%= p.shipping_note %>
            <% end %>
          </p>
          <p class="card-text text-upcase">Note:</p>
          <small class="card-text text-left card__plan_note_text">
            <%= p.description.html_safe %>
          </small>
        </div>
        <div class="card-footer card__plan_footer">
          <%= link_to "Choose #{p.name}", user_registrations_path(plan_name: p.name) ,class: 'btn btn-brown plan--btns' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="footer-banner height-390px mt-48px"
  style="background-image: url('<%= asset_pack_path "packs/images/plan_footer_banner_bg.jpg" %>');">
  <div class="footer-banner__header mt-48px">
    <div class="container">
      <div class="row mx-0 justify-content-center">
        <div class="col-6">
          <h4 class="text-uppercase">Notes to remember:</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-banner__body container">
    <div class="row mx-0 justify-content-center">
      <div class="col-6">
        <p>If you select Option 3 ($10/day $200/month), you will be charged</p>
        <p>for the full monthly delivery fee of $40, regardless of whether or not</p>
        <p>your add-ons for some meals take you above the amount that would</p>
        <p>normally benefit from free delivery.</p>
      </div>
    </div>
  </div>
  <div class="footer-banner__footer container mb-4">
  </div>
</div>
