<div class="banner" style="background-image: url('<%= asset_pack_path 'packs/images/the_menu_banner_bg.jpg' %>');">
  <div class="fishnet">
  </div>
</div>

<div class="row mx-0">
  <div class="col text-center">
    <h3 class="text-uppercase font-family-montserrat">The Menu</h3>
    <p class="mb-0 font-size-18">Explore our scrumptious choices. 100% Delicious. 100% Kosher.</p>
  </div>
</div>

<%
  category_id = params[:category] || MenuCategory.published_menus.first.id
%>
<ul class="nav nav-pills justify-content-center mt-4" id="category_navs">
  <% MenuCategory.published_menus.each do |category| %>
    <li class="nav-item">
      <%= link_to category.name.titleize,
                  page_path(id: 'the_menu', category: category.id),
                  class: "nav-link btn btn-brown-outline mx-2 rounded-0 #{'active-btn' if category.id == category_id.to_i}" %>
    </li>
  <% end %>
</ul>

<ul class="nav justify-content-center mt-4">
  <li class="nav-item mx-2">
    <strong class="text-uppercase">Legend</strong>
  </li>
  <li class="nav-item mx-2">
    <span class="fa fa-star diet-icons sugar-free mr-1"></span>
    Sugar Free
  </li>
  <li class="nav-item mx-2">
    <span class="fa fa-star diet-icons gluten-free mr-1"></span>
    Gluten Free
  </li>
  <li class="nav-item mx-2">
    <span class="fa fa-star diet-icons carb-free mr-1"></span>
    Carb Free
  </li>
  <li class="nav-item mx-2">
    <span class="fa fa-star diet-icons may-contain-allergens mr-1"></span>
    May Contain Allergens
  </li>
</ul>

<% MenuCategory.where(id: category_id).each do |category| %>
  <div class="row mt-4 mx-0" id="<%= category.name.parameterize %>">
    <div class="container">
      <div class="row justify-content-center menu-items__container_for_five_days">
        <%= render partial: 'menus/menu', collection: category.menus, as: :menu %>
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center mb-4 mx-0">
  <div class="col-12 col-md-6 text-center">
    <h4 class="font-family-montserrat text-uppercase">Found anything interesting?</h4>
    <p>let's create an account to order your food.</p>
    <%= link_to 'Get Started', '/user_registrations', class: 'text-uppercase btn btn-brown font-family-montserrat-semi-bold' %>
  </div>
</div>
