<%= card_container do %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Month</th>
        <th>Day</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @blackout_dates.each do |blackout_date| %>
        <tr class="<%= blackout_date.id %>">
          <td>
            <%= blackout_date.month %>
          </td>
          <td>
            <%= blackout_date.day %>
          </td>
          <td>
            <%= blackout_date.description %>
          </td>
          <td>
            <div class="float-right">
              <%= link_to '<i class="fa fa-edit mr-1"></i>Edit'.html_safe, edit_admin_blackout_date_path(blackout_date), class: 'btn chocolate-font-color btn-sm' %>
              <%= link_to '<i class="fa fa-trash mr-1"></i>Destroy'.html_safe, admin_blackout_date_path(blackout_date), class: 'btn chocolate-font-color btn-sm', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @blackout_dates %>
<% end %>