<tr class="<%= menu_category.name.parameterize %>">
  <td><%= menu_category.name %></td>
  <td><%= menu_category.menus.size %></td>
  <td><%= display_all_add_ons(menu_category) %></td>
  <td><%= display_ordering_select_box(menu_category) %></td>
  <td class="text-center"><%= is_part_of_plan?(menu_category) %></td>
  <td>
    <div class="float-right">
      <%= link_to '<i class="fa fa-edit mr-1"></i>Edit'.html_safe, edit_admin_menu_category_path(menu_category), class: 'btn chocolate-font-color btn-sm' %>
      <%= link_to '<i class="fa fa-trash mr-1"></i>Destroy'.html_safe, admin_menu_category_path(menu_category), class: 'btn chocolate-font-color btn-sm', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    </div>
  </td>
</tr>