<div class="col-12 col-md-3 col-xl-2 sidebar user_end__sidebar" role="main-sidebar" id="main-sidebar">
  <div class="flex-column navbar-collapse">
    <h3 class="font-size-18 text-uppercase">Settings</h3>
    <ul class="navbar-nav ml-auto sidebar-navbar">
      <li class="nav-item <%= active?(user_dashboard_index_path) %>">
        <%= nav_link 'Dashboard', user_dashboard_index_path %>
      </li>
      <li class="nav-item <%= active?(user_weekly_meals_path) %>">
        <%= nav_link 'Weekly Meals', user_weekly_meals_path %>
      </li>
      <% if current_user.subscribed? %>
        <li class="nav-item <%= active?(user_schedules_path) %>">
          <%= nav_link 'Schedule Information', user_schedules_path %>
        </li>
      <% end %>
      <li class="nav-item <%= active?(user_user_information_index_path) %>">
        <%= nav_link 'User Information', user_user_information_index_path %>
      </li>
      <li class="nav-item <%= active?(user_change_password_index_path) %>">
        <%= nav_link 'Change Password', user_change_password_index_path %>
      </li>
      <li class="nav-item <%= active?(user_delivery_information_index_path) %>">
        <%= nav_link 'Delivery Information', user_delivery_information_index_path %>
      </li>
      <li class="nav-item <%= active?(user_subscriptions_path) %>">
        <%= nav_link 'Subscription', user_subscriptions_path %>
      </li>
      <li class="nav-item <%= active?(user_payment_informations_path) %>">
        <%= nav_link 'Payment Information', user_payment_informations_path %>
      </li>
      <li class="nav-item <%= active?(user_bill_histories_path) %>">
        <%= nav_link 'Bill History', user_bill_histories_path %>
      </li>
      <% if current_user.subscribed? %>
        <li class="nav-item <%= active?(user_ledgers_path) %>">
          <%= nav_link 'Pending Charges', user_ledgers_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
