<%= form_with model: [:admin, plan], class: 'col-12 col-md-10 col-lg-8', remote: true do |form| %>
  <%= render 'shared/error_explanation', object: plan %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :short_description %>
    <%= form.text_field :short_description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.hidden_field :description, id: 'plan_description' %>
    <trix-editor input="plan_description"></trix-editor>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= form.label :interval %>
      <%= form.select :interval, [["Month", :month], ["None", nil]] , {}, { class: 'form-control' } %>
      <small id="intervalHelp" class="form-text text-muted">
        Set to month for a subscription base plan. None for a one time charge
      </small>
    </div>
    <div class="col">
      <%= form.label :for_type, 'Type Of Plan' %>
      <%= form.select :for_type, plan.types, {}, { class: 'form-control' } %>
      <small id="fortypeHelp" class="form-text text-muted">
        Is the plan for individuals or for groups?
      </small>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <%= form.number_field :price, class: 'form-control', min: 0, step: '0.01' %>
    </div>
    <small id="priceHelp" class="form-text text-muted">
      Set the price base on the interval if it's month interval set it to the total price to be charge monthly.
      Set the price to the minimum price a user can purchase when set to single interval
    </small>
  </div>
  <div class="form-group">
    <%= form.label :limit %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <%= form.number_field :limit, class: 'form-control', min: 0, step: '0.01' %>
    </div>
    <small id="limitHelp" class="form-text text-muted">
      The maximum available credit limit for an order.
    </small>
  </div>
  <div class="form-group">
    <%= form.label :minimum_credit_allowed %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <%= form.number_field :minimum_credit_allowed, class: 'form-control', min: 0, step: '0.01' %>
    </div>
    <small id="minimumcreditallowedHelp" class="form-text text-muted">
      The minimum allowed credit for an order to continue.
    </small>
  </div>
  <div class="form-group">
    <%= form.label :shipping %>
    <%= form.select :shipping, [["Free", :free], ["Paid", :paid]] , {}, { class: 'form-control plan-shipping' } %>
  </div>
  <div class="form-group d-none plan-shipping-fee fadeInUp">
    <%= form.label :shipping_fee %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <%= form.number_field :shipping_fee, class: 'form-control', min: 0, step: '0.01' %>
    </div>
  </div>
  <div class="form-group d-none plan-shipping-note fadeInUp">
    <%= form.label :shipping_note %>
    <%= form.text_field :shipping_note, class: 'form-control' %>
  </div>
  <%= form.button 'Save Plan', class: 'btn btn-brown text-uppercase', data: {
    disable_with: disabled_text
  } %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'admin/plans' %>
<% end %>