<%= card_container do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Subscribers</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr class="<%= plan.name.parameterize %>">
          <td><%= plan.id %></td>
          <td><%= plan.name %></td>
          <td><%= number_to_currency(plan.price, unit: '$') %></td>
          <td><%= plan.users.size %></td>
          <td><%= link_to 'Show', admin_plan_path(plan) %></td>
          <td><%= link_to 'Edit', edit_admin_plan_path(plan) %></td>
          <td><%= link_to 'Destroy', admin_plan_path(plan), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
