<%
  url = admin_configs_path
  url = admin_config_path(@store_config) if @store_config.id.present?
%>
<%= card_container do %>
  <%= form_with model: @store_config,
                url: url do |f| %>
    <div class="col-md-4">
      <%= render 'shared/flash' %>
      <div class="form-group">
        <label for="">Store Id</label>
        <%= f.text_field :_id, class: 'form-control' %>
        <small id="idHelp" class="form-text text-muted">
          Required field for generating a Bar Code and Processing Orders.
        </small>
      </div>
      <div class="form-group">
        <label for="">Store Code</label>
        <%= f.text_field :_code, class: 'form-control' %>
        <small id="codeHelp" class="form-text text-muted">
          Required field for generating a Bar Code and Processing Orders.
        </small>
      </div>
      <div class="form-group">
        <label for="">Allowed Zip Codes</label>
        <%= f.text_area :zipcode, class: 'form-control', value: @zipcodes.join(','), name: 'zipcodes' %>
        <small id="codeHelp" class="form-text text-muted">
          Separate zipcodes with ',' (e.g '12345,54321,....')
        </small>
      </div>
      <div class="form-group">
        <label for="">Tax Rate</label>
        <%= f.fields_for :tax, @store_config.tax || @store_config.build_tax do |t| %>
          <div class="input-group">
            <%= t.number_field :rate, class: 'form-control', step: '0.1' %>
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <label for="">Home Page Images</label>
        <div class="form-group">
          <div class="dropzone-area dropzone">
            <div class="preview-image">
              <% @store_config.assets.each do |asset| %>
                <%= cl_image_tag asset.image, height: 100 %>
              <% end %>
            </div>
            <div class="fallback">
              <%= file_field_tag :image %>
            </div>
          </div>
        </div>
        <div class="store_asset_ids"></div>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.button 'Save Config', class: 'btn btn-brown text-uppercase', data: {
        disable_with: disabled_text
      } %>
    </div>
  <% end %>
<% end %>

<%= content_for :footer_js  do %>
  <%= javascript_pack_tag 'admin/config' %>
<% end %>
