<%
  url = admin_configs_path
  url = admin_config_path(@store_config) if @store_config.id.present?
%>
<%= card_container do %>
  <%= form_with model: @store_config, 
                url: url do |f| %>
    <div class="col-md-4">
      <%= render 'shared/flash' %>
      <div class="form-group">
        <label for="">Store Id</label>
        <%= f.text_field :_id, class: 'form-control' %>
        <small id="idHelp" class="form-text text-muted">
          Required field for generating a Bar Code and Processing Orders.
        </small>
      </div>
      <div class="form-group">
        <label for="">Store Code</label>
        <%= f.text_field :_code, class: 'form-control' %>
        <small id="codeHelp" class="form-text text-muted">
          Required field for generating a Bar Code and Processing Orders.
        </small>
      </div>
      <div class="form-group">
        <label for="">Allowed Zip Codes</label>
        <%= f.text_area :zipcode, class: 'form-control', value: @zipcodes.join(','), name: 'zipcodes' %>
        <small id="codeHelp" class="form-text text-muted">
          Separate zipcodes with ',' (e.g '12345,54321,....')
        </small>
      </div>
      <div class="form-group">
        <label for="">Tax Rate</label>
        <%= f.fields_for :tax, @store_config.tax || @store_config.build_tax do |t| %>
          <div class="input-group">
            <%= t.number_field :rate, class: 'form-control', step: '0.1' %>
            <span class="input-group-addon">%</span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="">Home Page Images</label>
        <% if @store_config.home_page_images? %>
          <div>
            <%- @store_config.home_page_images.urls(preview: '200x200', quality: 'best').each do |url| %>
              <%= image_tag url, height: '100', class: 'rounded raised-1' %>
            <% end %>
          </div>
        <% end %>
        <%= f.uploadcare_uploader :home_page_images, uploadcare: { multiple: true } %>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.button 'Save Config', class: 'btn btn-brown text-uppercase', data: {
        disable_with: disabled_text
      } %>
    </div>
  <% end %>
<% end %>
