<div class="fullwidth-bg" style="background-image: url('<%= asset_pack_path "packs/images/login_bg.jpg" %>')">
  <div class="fishnet">
    <div class="login-form">
      <div class="row align-items-center justify-content-center mx-0">
        <div class="col-6">
          <h4 class="text-center text-uppercase font-family-montserrat">Forgot your password?</h4>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field mb-3">
                <%= f.email_field :email, autofocus: true, class: 'form-control rounded-0 login-control', placeholder: 'Email' %>
              </div>

              <div class="actions col-12 text-center">
                <%= f.submit "Reset Password", class: 'text-uppercase btn btn-brown' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


