<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4 class="font-size-18 text-uppercase">Subscriptions</h4>
      <% if current_user.subscribed? %>
        <div class="card-container" style='width: 18rem;'>
          <div class="card mb-4 user-plan-card">
            <div class="card-body">
              <span>PLAN: <%= @plan.name %></span>
              <%= @plan.short_description.html_safe %>
              <p><%= renewal_at(@subscription) %></p>
            </div>
          </div>
          <button class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#cancel_subscription">Cancel</button>
          <%= link_to_if(current_user.stripe_subscription_id.present?, "Change", user_change_subscriptions_path, class: 'btn btn-brown text-uppercase') {} %>
          <br>
          <%= link_to 'Show bill history', user_bill_histories_path, class: 'font-size-14 chocolate-font-color' %>
        </div>
      <% else %>
        <h6>You are not subscribe to a plan.</h6>
        <%= link_to 'Show bill history', user_bill_histories_path,  class: 'font-size-14 chocolate-font-color' %> <br>
        <%= link_to_btn 'Choose plans', choose_plans_user_subscriptions_path %>
      <% end %>
    </div>

    <% if current_user&.plan&.group? && current_user.in_a_group? == false %>
      <div class="col-6">
        <h4 class="font-size-18 text-uppercase">Generate a group code</h4>
        <%= button_to "Generate code", user_groups_path, class: 'btn btn-brown text-uppercase' %>
        <hr>
        <h4 class="font-size-18 text-uppercase">Join a group</h4>
        <%= form_with url: join_user_groups_path, local: true do |f| %>
          <div class="form-group row">
            <div class="col-9">
              <%= f.text_field :group_code, class: 'form-control', placeholder: 'Enter group code' %>
            </div>
            <div class="col">
              <%= f.submit 'Join', class: 'btn btn-brown text-uppercase' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>


    <% if current_user.referrer? %>
      <div class="col-6">
        <h4 class="font-size-18 text-uppercase">Members</h4>
        <p class="font-family-montserrat font-size-14" style="">Send New Code to Member</p>
        <%= form_with url: '#', id: 'invitation_mailer_form' do |f| %>
          <div class="form-group row">
            <div class="col-9">
              <%= f.email_field :invitee_email, class: 'form-control', placeholder: 'Type email here' %>
            </div>
            <div class="col">
              <%= f.submit 'Send', class: 'btn btn-brown text-uppercase send_invitation_btn' %>
            </div>
          </div>
        <% end %>
        <div style="max-height: 600px; overflow-y: auto;">
          <ul class="list-group">
            <% current_user.members.each do |member| %>
              <li class="list-group-item border-0">
                <%= member.user.full_name %>
                <%= member.user_email %>
                <%= button_to "Remove", user_candidate_path(member), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-sm btn-brown text-uppercase', style: 'font-size: 10px;', form_class: 'float-right' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= modal_for 'cancel_subscription', 'Cancel Subscription' do %>
  <%= form_with url: cancel_user_subscriptions_path do |form|  %>
  <span><strong>We're sad to see you go.. ;(</strong></span>
  <p>We'd love to know how we can better our service and satisfy you.</p>
  <%= form.text_area :body, rows: 5, class: 'form-control mb-3', placeholder: 'please write your feedback here' %>
  <%= form.submit 'Cancel Subscription', class: 'btn btn-brown mb-3 float-right text-uppercase' %>
  <a href="javascript:void(0)" class="btn btn-default text-uppercase float-right"  data-dismiss="modal">Do not cancel</a>
  <% end %>
<% end %>

<%= content_tag :footer_js do %>
  <%= javascript_pack_tag 'user/invitation_mailer.js' %>
<% end %>
