<%= form_with(model: [:admin, menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :menu_category %>
    <%= form.select :menu_category_id, MenuCategory.all.map { |c| [c.name, c.id]} %>
  </div>
  <div>
    <%= form.label :diet_category %>
    <%= form.select :diet_category_id, DietCategory.all.map { |c| [c.name, c.id]} %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
