<div class="col-12 col-sm-4 col-md-4 col-xl-3">
  <div class="card border-0">
    <%= link_to edit_admin_menu_path(menu, format: :js), class: "#{menu.name.parameterize}", remote: true do %>
      <img class="card-img-top rounded raised-1 no-hover-raised" src="<%= menu.image_url if menu.image? %>" alt="Card image cap">
    <% end %>
    <div class="card-body px-0 py-0 pt-3">
      <h4 class="card-title">
        <%= link_to menu.name, edit_admin_menu_path(menu, format: :js), remote: true %>
      </h4>
      <a class="card-text card-link">
        <%= number_to_currency(menu.price, unit: '$') %>/<%= menu.unit.name %>
      </a>
    </div>
  </div>
</div>
