<%= card_container do %>
  <div class="container-fluid">
    <%= render 'admin/menu_categories/form_modal', menu_category: @menu_category %>
    <%= render 'admin/menu_categories/navs', menu_category: @menus %>

    <div class="tab-content" id="myTabContent">
      <% @menus.each.with_index do |category, index| %>
        <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="category_<%= category.id %>" aria-expanded="<%= index == 0 %>">
          <div class="row">
            <%= link_to '+ Add Menu Item', new_admin_menu_path(category: category.id, format: :js), class: 'add-menu-item btn col-12 col-sm-4 col-md-4 col-xl-3 rounded-0', remote: true
            %>
            <% category.menus.sort.each do |menu| %>
              <%= render 'menu_card', menu: menu %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= modal_for "menu-item-modal", nil  %>

    <%= content_for :header_js do %>
      <%= javascript_pack_tag 'admin/simple_dropzone' %>
      <%= javascript_pack_tag 'admin/vue_category' %>
      <%= javascript_pack_tag 'admin/menu' %>
    <% end %>
  </div>
<% end %>