<% schedule.each_with_index do |day, index| %>
  <% if index != 5 %>
    <div class="form-check form-check-inline">
      <label for="start_date_<%= index %>" :class="'btn btn-outline-dark form-check-label px-4 py-4' + isActiveDeliveryDate('<%=  day %>')">
        <input type="radio" name="registration_form[start_date]" value="<%= day %>" class="d-none form-check-input" id="start_date_<%= index %>" v-model="delivery_date" @click="nextTab">
        <p class="mb-1"><%= day.strftime('%A') %></p>
        <p class="mb-0"><%= day.strftime('%b %d') %></p>
      </label>
    </div>
  <% else %>
    <div class="form-check form-check-inline">
      <label for="start_date_<%= index %>" class="btn btn-danger form-check-label px-4 py-4 disabled">
        <p class="mt-2">CLOSED</p>
      </label>
    </div>
  <% end %>
<% end %>