<div class="row justify-content-center align-items-center" style="margin-top: 1.6rem;">
  <div class="col-12 col-md-4" style="margin-bottom: 1rem;">
    <h3 class="text-uppercase text-center">Delivery Information</h3>
    <div class="row justify-content-center">
      <div class="col-10">
        <div v-for="(address, index) in billing_address">
          <div class="form-group row" v-if="index === 0">
            <div class="col-3">
              <strong>I am:</strong>
            </div>
            <div class="col">
              <% registration.address_types.each do |type| %>
                <label for="<%= type.to_s.parameterize %>" class="delivery-info-step__control_label mr-3">
                  <%= form.radio_button :location_at, type,
                      name: 'registration_form[addresses][][location_at]',
                      id: "#{type.to_s.parameterize}",
                      style: 'margin-right: 5px;',
                      checked: (true if type == :at_work),
                      'v-model': 'address.address_location_at',
                      '@click': "changeAddressType('#{type.to_s}')" %>
                  <%= type.to_s.humanize %>
                </label>
              <% end %>
            </div>
          </div>
          <div v-else>
            <input type="hidden" v-model="address.address_location_at" name="registration_form[addresses][][location_at]">
          </div>
          <div class="form-group">
            <%= form.text_field :line1, name: 'registration_form[addresses][][line1]', class: 'form-control', placeholder: 'Address Line 1', 'v-model': 'address.address_line1' %>
            <div class="invalid-feedback">
              Line1 is required
            </div>
          </div>
          <div class="form-group">
            <%= form.text_field :line2, name: 'registration_form[addresses][][line2]', class: 'form-control', placeholder: 'Address Line 2', 'v-model': 'address.address_line2' %>
          </div>
          <div class="form-group">
            <%= form.text_field :front_door, name: 'registration_form[addresses][][front_door]', class: 'form-control', placeholder: 'Front Door Code (if applicable)' %>
          </div>
          <div class="form-group row">
            <div class="col">
              <%= form.text_field :city, name: 'registration_form[addresses][][city]', class: 'form-control', placeholder: 'City', 'v-model': 'address.address_city' %>
              <div class="invalid-feedback">
                City is required
              </div>
            </div>
            <div class="col">
              <%= form.text_field :state,  name: 'registration_form[addresses][][state]', class: 'form-control', placeholder: 'State', 'v-model': 'address.address_state' %>
              <div class="invalid-feedback">
                State is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <%= form.text_field :zip_code,
                  name: 'registration_form[addresses][][zip_code]',
                  class: 'form-control',
                  placeholder: 'Zipcode',
                  'v-model': 'address.address_zip',
                  'v-on:blur': 'validateZip($event, "billing_address", index)',
                  'v-on:keyup': 'limitInput($event, 5) + onlyNumber($event)',
                  pattern: '(\d{5}([\-]\d{4})?)',
                  title: 'Format should be in the form of 12345' %>
              <div class="invalid-feedback">
                Zipcode is required and must be a US zip.
              </div>
            </div>
            <div class="col" v-if="index === 0">
              <%= form.text_field :phone_number,
                class: 'form-control',
                placeholder: 'Phone Number',
                pattern: '\d{3}[\-]\d{3}[\-]\d{4}',
                title: 'Phone Number must be in the format of: 123-456-7890' %>
              <div class="invalid-feedback">
                Phone Number is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= form.text_field :group_code, class: 'form-control', placeholder: 'Group Code' %>
        </div>
        <a href="javascript:void(0)" class="chocolate-font-color" @click="addBillingAddress" v-if="billing_address[0].address_location_at === 'multiple_workplaces'">+ Add Next Address</a>
        <div class="text-center">
          <a href="javascript:void(0)"
            class="btn btn-brown width-185 text-uppercase mt-3"
            @click="nextTabOrSkipTab">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
