<div class="container">
  <div class="card-deck">
    <% @plans.each do |p| %>
      <%
      shipping_fee =  p.shipping_fee? ? p.shipping_fee : 0
      %>
      <div class="card text-center <%= p.name.parameterize %>">
        <img class="card-img-top card__plan_image" src="<%= asset_pack_path "packs/images/#{p.name.downcase.split(' ').join}.png" %>" alt="Card image cap">
        <div class="card-body card__plan_body">
          <h4 class="card-title">
            <%= p.name %>
          </h4>
          <p class="card-text plan--description">
            <%= p.short_description.html_safe %>
          </p>
          <p class="card-text">
            <% if p.free? %>
              FREE DELIVERY!
            <% else %>
              <%= p.shipping_note %>
            <% end %>
          </p>
          <p class="card-text text-upcase">Note:</p>
          <small class="card-text text-left card__plan_note_text">
            <%= p.description.html_safe %>
          </small>
        </div>
        <div class="card-footer card__plan_footer">
          <label for="<%= "#{p.name.parameterize}-#{p.id}" %>" class="btn btn-brown plan--btns">
            <input type="radio"
            name="registration_form[plan_id]"
            value="<%= p.id %>"
            id="<%= "#{p.name.parameterize}-#{p.id}" %>"
            class="d-none"
            @click="setInterVal('<%= p.interval || 'single_order' %>', <%= p.price %>, '<%= shipping_fee %>', '<%= p.name %>')">
            Choose <%= p.name %>
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>
