<%= form_with model: @registration, url: user_registrations_path(format: :js), id: 'sign_up_form' do |form| %>
  <div class="container-fluid px-0">
    <div id="registration-form" class="d-none">
      <form-wizard @on-complete="onComplete" step-size="xs" color="#562d07" ref="wizard">
        <h2 slot="title"></h2>
        <tab-content title="Create Account" :before-change="accountValidations">
          <%= render 'create_account', form: form %>
        </tab-content>
        <tab-content title="Delivery Information" :before-change="addressValidations">
          <%= render 'delivery_information', { form: form, registration: @registration } %>
        </tab-content>
        <tab-content title="Plan">
          <%= render 'plan', form: form %>
        </tab-content>
        <tab-content title="Days">
          <%= render 'days', { form: form, registration: @registration } %>
        </tab-content>
        <tab-content title="Payment Setup" :before-change="paymentValidations">
          <%= render 'payment_setup', form: form %>
        </tab-content>
        <tab-content title="Meals">
          <div style="position: relative">
            <div class="container">
              <%= render 'meals', categorized_menus: @categorized_menus %>
            </div>
            <%= render 'cart' %>
          </div>
        </tab-content>
        <tab-content title="Review Order">
          <div class="container-fluid">
            <%= render 'review_order', form: form %>
          </div>
        </tab-content>
        <template slot="footer" scope="props">
          <wizard-button
            @click.native="props.nextTab()"
            class="wizard-footer-right d-none">
            Next Step
          </wizard-button>
        </template>
      </form-wizard>
    </div>
  </div>
<% end %>

<%= content_for :header_js do %>
  <%= javascript_tag do %>
    localStorage.setItem('allowed_zip_codes', '<%= raw @allowed_zip_codes.to_json(only: :zip) %>');
    localStorage.setItem('current_date_est', '<%= Date.current %>');
    localStorage.setItem('tax_rate', <%= @tax_rate %>)
    localStorage.setItem('plans', '<%= raw @plan.to_json(only: %i[id name price shipping_fee interval limit minimum_credit_allowed]) %>');
  <% end %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("div#registration-form").removeClass("d-none");
    });
  <% end %>
  <%= javascript_pack_tag 'vue_registration_wizard' %>
<% end %>
