<% if @plan.present? %>
  <%= tag.div class: 'd-none selected-plan', data: @plan.to_json(except: %[created_at updated_at]) %>
<% end %>
<div id="sign_up_form">
  <div class="container-fluid px-0" id="registration-form">
    <div id="registration_app">
      <form-wizard step-size="xs" color="#562d07" ref="wizard">
        <h2 slot="title"></h2>
        <tab-content title="Plan" route="/user_registrations"></tab-content>
        <tab-content title="Create Account" route="/user_registrations/create_account"></tab-content>
        <tab-content title="Delivery Information" route="/user_registrations/delivery_information"></tab-content>
        <tab-content title="Days" route="/user_registrations/days"></tab-content>
        <tab-content title="Payment Setup" route="/user_registrations/payment_setup"></tab-content>
        <tab-content title="Meals" route="/user_registrations/meals"></tab-content>
        <tab-content title="Review Orders" route="/user_registrations/review_order"></tab-content>
        <template slot="footer" scope="props">
          <wizard-button
            @click.native="props.nextTab()"
            class="wizard-footer-right d-none">
            Next Step
          </wizard-button>
        </template>
        <transition name="fade" mode="out-in">
          <router-view
          v-bind:registration_form.sync="registration_form"
          v-bind:plan="plan"
          v-bind:date="date"
          v-bind:charges="charges"
          v-bind:stripe_key="stripe_key"
          @next-tab="nextTab"
          @on-complete="complete">
          </router-view>
        </transition>
      </form-wizard>
    </div>
  </div>
</div>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'registration', defer: true %>
  <%= stylesheet_pack_tag 'registration', defer: true %>
<% end %>

<%= content_for :header_js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_PLACES_API_KEY"] %>&libraries=places"></script>
<% end %>
