<div class="nav footer">
  <div class="container clearfix">
    <div class="footer-nav pull-right">
      <ul class="footer-nav__ul mb-0">
        <li class="footer-nav__items">
          <%= link_to 'Home', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'How It Works', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'Plans', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'Menus', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'Contact Us', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'Sign Up', root_path, class: 'footer-nav__items__links' %>
        </li>
        <li class="footer-nav__items">
          <%= link_to 'Login', root_path, class: 'footer-nav__items__links' %>
        </li>
      </ul>
    </div>
    <div>
      <span class="footer__copyright">&copy; Copyright 2018 Frishtug. All Rights Reserved.</span>
    </div>
  </div>
</div>