<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom-grey py-3 h-100px navbar-frishtug">
  <div class="container">
    <%= render 'shared/brand_logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= active?(root_path) %>">
          <%= nav_link 'Home', root_path, class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <li class="nav-item <%= active?(page_path(id: 'how_it_works')) %>">
          <%= nav_link 'How It Works', page_path(id: 'how_it_works'), class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <li class="nav-item <%= active?(page_path(id: 'plans')) %>">
          <%= nav_link 'Plans', page_path(id: 'plans'), class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <li class="nav-item <%= active?(page_path(id: 'the_menu')) %>">
          <%= nav_link 'The Menu', page_path(id: 'the_menu'), class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <li class="nav-item <%= active?(page_path(id: 'contact_us')) %>">
          <%= nav_link 'Contact Us', page_path(id: 'contact_us'), class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <li class="nav-item <%= active?( new_user_session_path) %>">
          <% text = current_user ? 'Settings' : 'Log In' %>
          <%= nav_link text, new_user_session_path, class: 'nav-link font-size-15 font-family-montserrat' %>
        </li>
        <% unless current_user %>
          <li class="nav-item <%= active?(user_registrations_path) %>">
            <%= nav_link 'Sign Up', user_registrations_path, class: 'btn btn-brown-outline-rounded font-family-montserrat-semi-bold text-uppercase font-size-15' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
