<!DOCTYPE html>
<html>
  <head>
    <title>Frishtug</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :header_js %>
  </head>
  <body>
    <%= render 'layouts/admin_navbar' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/admin_sidebar' %>
        <div class="col-12 col-md-9 col-xl-10">
          <%= render 'shared/notifications' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
