<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Frishtug</title>
    <%= render 'shared/favicons' %>
    <%= render 'shared/font_assets'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'app' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/69863dce90.js' %>
    <%= yield :header_js %>
    <%= yield :header %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid px-0 main">
      <%= render 'shared/notifications' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :footer_js %>
  </body>
</html>
