<!DOCTYPE html>
<html>
  <head>
    <title>Frishtug</title>
    <%= render 'shared/favicons' %>
    <%= render 'shared/font_assets'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :header_js %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'shared/notifications' %>
    <%= yield %>
    <%= yield :footer_js %>
  </body>
</html>
