<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Frishtug</title>
    <%= render 'shared/favicons' %>
    <%= render 'shared/font_assets'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
    <%= javascript_pack_tag 'app' %>
    <%= javascript_tag 'defer' do %>
      localStorage.setItem('full_name', '<%= current_user.full_name %>');
    <% end %>
    <%= yield :header_js %>
  </head>
  <body>
    <%
      root_container_class = 'container'
      main_container_class = 'col-12 col-md-9 col-xl-10'
      root_container_class = 'container-fluid' if is_ordering?
      main_container_class = 'col-12 col-md-12 col-xl-12' if is_ordering?
    %>
    <%= render 'user/user_navbar' %>
    <div class="<%= root_container_class %> pt-4" id="root-container" style="padding-top: 5.4rem;">
      <div class="row">
        <%= render 'user/user_sidebar' unless is_ordering? %>
        <div class="<%= main_container_class %>" id="main-container" role="main-container">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield :footer_js %>
    <script src="https://use.fontawesome.com/69863dce90.js"></script>
  </body>
</html>